<!DOCTYPE html>
<html>
<head>
	<% for (var chunk in htmlWebpackPlugin.files.css) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.css[chunk] %>"  as="style">
	<% } %>
	<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<link rel="preload" href="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" as="script">
	<% } %>
	<meta charset="utf-8">
	<title>preact-boilerplate</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
	<meta name="description" content="preact-boilerplate">
	<meta name="msapplication-TileColor" content="#673ab8">
	<meta name="msapplication-TileImage" content="./assets/icons/mstile-150x150.png">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="preact-boilerplate">
	<meta name="application-name" content="preact-boilerplate">
	<meta name="format-detection" content="telephone=no">
	<meta name="theme-color" content="#673ab8">
	<link rel="apple-touch-icon" sizes="180x180" href="./assets/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/assets/icons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/assets/icons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="./manifest.json">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.5/css/swiper.css">
</head>
<body>
	<div class="demo-box" id="thrid-party-login-wrapper">
		<script type="text/props">
			{
				"sku":"BIG01",
				"selectedProductCode": "BIG01XXNVYXLG",
				"outOfStock":false,
				"notifyMe":true,
				"title":"BREVET INSULATED GILET",
				"galleryImages":[{
					"url": "https://i1.adis.ws/i/rapha/h116_location_brevet_ara_07",
					"variant": "BIG01XXBLK",
					"title": "Black"
				}, {
					"url": "https://i1.adis.ws/i/rapha/h116_location_brevet_ara_06",
					"variant": "BIG01XXNVY",
					"title": "Navy"
				}],
				"price":{
					"currencyIso":"KRW",
					"value":"146537.9",
					"priceType":"FROM",
					"formattedValue":"₩146,538"
				},
				"wasPrice":{

				},
				"colors":{
					"BIG01XXBLK":{
						"sku":"BIG01XXBLK",
						"color":"Black",
						"sanitizedColor":"black",
						"inlineStyleSwatchColor":"#000000",
						"galleryImages":{
							"format":"image",
							"url":"//i1.adis.ws/i/rapha/h116_location_brevet_ara_07",
							"altText":"",
							"imageType":""
						},
						"price":{
							"currencyIso":"KRW",
							"value":"275000.0",
							"priceType":"BUY",
							"formattedValue":"₩275,000"
						},
						"wasPrice":{

						},
						"sizes":{
							"BIG01XXBLKXSM":{
								"sku":"BIG01XXBLKXSM",
								"stock":10,
								"stockStatus":"inStock",
								"size":"X-Small",
								"sanitizedSize":"x-small",
								"notifyMe":true
							},
							"BIG01XXBLKSML":{
								"sku":"BIG01XXBLKSML",
								"stock":10,
								"stockStatus":"inStock",
								"size":"Small",
								"sanitizedSize":"small",
								"notifyMe":true
							},
							"BIG01XXBLKMED":{
								"sku":"BIG01XXBLKMED",
								"stock":10,
								"stockStatus":"inStock",
								"size":"Medium",
								"sanitizedSize":"medium",
								"notifyMe":true
							},
							"BIG01XXBLKLRG":{
								"sku":"BIG01XXBLKLRG",
								"stock":10,
								"stockStatus":"inStock",
								"size":"Large",
								"sanitizedSize":"large",
								"notifyMe":true
							},
							"BIG01XXBLKXLG":{
								"sku":"BIG01XXBLKXLG",
								"stock":10,
								"stockStatus":"inStock",
								"size":"X-Large",
								"sanitizedSize":"x-large",
								"notifyMe":true
							},
							"BIG01XXBLKXXL":{
								"sku":"BIG01XXBLKXXL",
								"stock":0,
								"stockStatus":"outOfStock",
								"size":"XX-Large",
								"sanitizedSize":"xx-large",
								"notifyMe":true
							}
						}
					},
					"BIG01XXNVY":{
						"sku":"BIG01XXNVY",
						"color":"Grey",
						"sanitizedColor":"grey",
						"inlineStyleSwatchColor":"#1D1D5B",
						"galleryImages":{

						},
						"price":{
							"currencyIso":"KRW",
							"value":"146537.9",
							"priceType":"BUY",
							"formattedValue":"₩146,538"
						},
						"wasPrice":{

						},
						"sizes":{
							"BIG01XXNVYXSM":{
								"sku":"BIG01XXNVYXSM",
								"stock":10,
								"stockStatus":"inStock",
								"size":"X-Small",
								"sanitizedSize":"x-small",
								"notifyMe":false
							},
							"BIG01XXNVYSML":{
								"sku":"BIG01XXNVYSML",
								"stock":10,
								"stockStatus":"inStock",
								"size":"Small",
								"sanitizedSize":"small",
								"notifyMe":false
							},
							"BIG01XXNVYMED":{
								"sku":"BIG01XXNVYMED",
								"stock":10,
								"stockStatus":"inStock",
								"size":"Medium",
								"sanitizedSize":"medium",
								"notifyMe":false
							},
							"BIG01XXNVYLRG":{
								"sku":"BIG01XXNVYLRG",
								"stock":10,
								"stockStatus":"inStock",
								"size":"Large",
								"sanitizedSize":"large",
								"notifyMe":false
							},
							"BIG01XXNVYXLG":{
								"sku":"BIG01XXNVYXLG",
								"stock":0,
								"stockStatus":"outOfStock",
								"size":"X-Large",
								"sanitizedSize":"x-large",
								"notifyMe":false
							},
							"BIG01XXNVYXXL":{
								"sku":"BIG01XXNVYXXL",
								"stock":10,
								"stockStatus":"inStock",
								"size":"XX-Large",
								"sanitizedSize":"xx-large",
								"notifyMe":false
							}
						}
					}
				}
			}
		</script>
		<!-- THAT IS ALL YOU NEED -->
		<!--<script async src="/build/bundle.js" type="text/javascript"></script>-->

	</div>
	<!-- //end that's how we embed the widget using habitat -->
</body>
</html>
